index
/* logo y titulo */
body{
    background-color: rgba(153, 150, 211, 0.594);
    margin: 0;  
    
}
.navegacion{
    display: flex;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position:static;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: rgb(42, 1, 77);
    padding:9px 10px ;

}

.barra{
    display: flex;
}

h1{
    font-family: fantasy;
    font-size:  450%;
    color: rgb(154, 114, 203);
    text-align: center;


}

.logo1{
    width:200px;  
    height: 200px;
    display: flex;  
    align-items: flex-start;
    margin-left:50px;
    margin-right: 20%;
    margin-top: 50px;
    
}
/* menu principal */
.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 9px 10px;
    background-color:rgba(73, 3, 117, 0.571);
    padding: 10px 20px; 
    width: 100%; 
    top: 0;
    z-index: 1000; 

}

.nav-links {  
    display: flex;
    text-shadow: #575757;

}

.nav-links a {  
    color: rgb(3, 20, 29);
    text-decoration: none;
    padding: 0 10px; 
    text-align: left;
    margin: 15px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-links a:hover { 
    background-color: #45154789;
    border-radius: 5px;
}

.content {  
    padding-top: 60px;
}

/* muestras de la pagina */
.presentaciones{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 180%;
    text-align: center;
    text-shadow: #650fe7a2;
    text-decoration-color: #650fe7a2;
    text-decoration: underline;

}

.subtitulos{
    display:grid;  
    grid-template-columns: repeat(3, auto);
    text-align: center;
    color: black;
    font-family: fantasy ;
    font-size: 20px;
    column-gap: 16px;
    text-decoration-line:underline;

}


h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: rgb(25, 23, 23);
    margin: 65px;

}

/* videos de muestras */
.video-container {  
    display: flex;
    
}  

.video-item {  
    max-width: 200px;
    margin: 5%;
    top: 14px;
    margin-left: 8%;
    margin-right: 8%;
}
/* sector del footer */

footer{
    background-color: rgba(29, 26, 26, 0.678);
    font-family: cursive;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    margin-top: 20px;
    gap: 10px;
    max-width:max-content;
}
    

.footer-img{
    max-width: 150px;
    display: flex;
    width: 150px;  
    height: auto;
    display: flex;  
    align-items: center;
    margin-left:50px;
    margin-top: 30px;
    margin-bottom: auto

}

.footer-center{
    color: aliceblue;
    margin-top: auto;
    margin-bottom: auto;
    
}
.footer-center p{
    margin-left: 9%;
}
.footer-center img{
   max-width: 9%;
   display:inline-flex;
   margin-bottom:15px;
   margin-top: 10px;
   margin-left: 20px;

}

.footer-derecha{
    color: aliceblue;
    font-size: 78%;
    margin-top: auto;
    margin-bottom: auto;

}


/* ayuda.html */
/* instruciones */
.como-comprar{
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
   
}

.ayuda-sub-titulo{
    text-align: center;
    text-decoration: underline;
   font-size: 180%;
   font-family: fantasy;
   color: black;

}

.sectores-ayuda{
    text-decoration: underline;
    color: #1c041ccc;
    font-size: 150%;
}

.como-comprar p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

.seguridad{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.seguridad-titulo{
    color:  #1c041ccc;
    text-decoration: underline;
    margin-top: 7%;
}

.seguridad p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 10px;
   margin-left: 20px;
   margin-bottom: 10%;
   margin-top: 7% ;
    
}

/* ubicaciones.html */

.ubicaciones{
    text-align:center;
    font-family: fantasy;

}

.ubicaciones p{
    font-size: 130%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}

.ubicacion{
    display: flex;
    flex-direction: column;
}

.ubicacion h2{
    text-align: center;
    text-decoration: double;
    font-family: fantasy;
}

.contenedor-mapa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.mapa{
    height: 450px;
    margin-left: 10%;
}

.lista{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3cm;
    font-size: 130%;
    text-shadow: #575757;
    justify-items:left;
    margin-left: 0%;
    list-style:georgian;
    margin-bottom: 5%;
    margin-right: 10%;
}

/* registro */
.formulario-subtitulo{
    text-align: center;
    margin-top: 2%;
    text-decoration: solid;
    font-size: 30px;
    font-family: fantasy;
}

.contenedor-formulario{
    background-color: #1f084293;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #474343;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
   

.form{
    display: flex;
    flex-direction: column;
    
    
}



input {
    background-color: #a9a5a5;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;

}


.pais option{
    background-color:#929397 ;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

button:hover {
    background-color: #3e8e41;
}

label{
    margin-bottom: 5px;
 
}

/* productos */

.conteiner-producto{
    background-color:rgba(153, 150, 211, 0.594);
    
}

.producto-titulo{ 
    background-color: rgba(153, 150, 211, 0.594);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 180%;
    text-align: center;
    text-decoration: underline;

}

/* formulario de pago */
.pago{
    background-color: rgba(153, 150, 211, 0.594);
    justify-content: center;

}

.form-label{
    font-family: fantasy;

}

.formulario-pago{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    align-items: center;
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    padding: 20px;  
    width: 300px;  

}
.caja-formulario h2 {  
    font-family: fantasy;
    text-align: center;  
    margin-bottom: 20px;
}

.caja-formulario label {  
    display: block;  
    margin-bottom: 5px;  
}


.caja-formulario textarea {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 4px; 
}

.caja-formulario button {  
    width: 100%;  
    padding: 10px;  
    background-color: #28a745;  
    color: white;  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
}

.caja-formulario button:hover {  
    background-color: #218838;  
}