
$colores: (
violeta:1 rgba(37, 3, 79, 0.776),
2: #ebd8fba1,
3: #947cb993,
4: rgb(50, 102, 105),
5: rgb(146, 129, 238),
)

$title( text-decoration: underline,
 text-align:center,
  font-side:40px, 
  font-famly:"Caudex", serif,
)

$img(width: 478px,
height: 400px,

)